<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>e2m3c</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../static/css/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  </head>
  <body class="d-flex h-100 text-center">
     <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto"></header>
        <main class="px-3">
            <h1 class="text-white">e2m3c</h1>
            <br> 

            <form id="url">
                <input type="text" name="yturl" id="yturl" placeholder="enter video url" autocomplete="off" size="50" required>
                <br><br>
                <button type="submit" class="btn btn-lg btn-light fw-bold border-white bg-white">Convert</button>

            </form>
            
        </main>
        <footer class="mt-auto text-white-50"></footer>
    </div>
    <script src="../scripts/m3c.js"></script>
  </body>
</html>
